body {
    background-color: #0f0f23;
    color: #fff;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0; /* Adicionado para remover qualquer padding padrão */
    width: 100vw; /* Garante que o body ocupe 100% da largura da viewport */
    overflow-x: hidden; /* Previne o scroll horizontal */
}

.video-banner-container {
    position: relative;
    width: 100vw; /* Ajuste para ocupar 100% da largura da viewport */
    height: 300px; /* Ajuste conforme necessário */
    overflow: hidden;
}

.video-banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(197, 212, 62, 0.5), rgba(15, 15, 35, 0.5));
}

.video-banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
}

.video-banner-content h1 {
    font-size: 3rem; /* Ajuste conforme necessário */
    margin: 0;
}

.video-banner-content p {
    font-size: 1.5rem; /* Ajuste conforme necessário */
    margin: 10px 0 0;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    padding: 20px;
}

.card {
    background-color: #1c1c3d;
    border: 2px solid #ffdd33;
    border-radius: 10px;
    overflow: hidden;
    width: 250px;
    height: 450px;
    text-align: center;
    position: relative;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    transform-style: preserve-3d;
    perspective: 1000px;
    background-image: url('../img/bg-item-legendary.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    animation: rotateBackground 60s infinite linear, glowEffect 2s infinite;
}

.card:hover {
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
}

.character-image {
    width: 75%;
    height: 210px;
    object-fit: cover;
    margin: 15px auto;
}

.card-header {
    position: absolute;
    width: 100%;
    top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.class-icon {
    width: 30px;
    height: 30px;
}

.level {
    font-size: 1rem;
    font-weight: bold;
    background: #ffdd33;
    padding: 6px 16px;
    border-radius: 6px;
    color: #1c1c3d;
}

.card-content {
    padding: 5px;
    background: rgba(28, 28, 61, 0.8);
    border-radius: 5px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1rem;
}

.card-content h2 {
    font-size: 1.125rem;
    margin: 5px 1px;
    word-wrap: break-word;
}

.card-content p {
    margin: 6px 10%;
    word-wrap: break-word;
}

.score {
    font-size: 1.5rem;
    color: #ffdd33;
    font-weight: bold;
}

.score-box {
    background-color: #ffdd33;
    padding: 10px;
    width: 100%;
    font-size: 1rem;
}

.score-box p {
    margin: 0;
    font-size: 1rem;
    color: #1c1c3d;
}

.reflection {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 60%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s ease;
}

.card:hover .reflection {
    opacity: 1;
}

@media (max-width: 1200px) {
    .card {
        width: 200px;
        height: 396px;
    }
    .character-image {
        height: 184px;
    }
    .level {
        font-size: 0.9rem;
    }
    .card-content {
        font-size: 0.9rem;
    }
    .card-content h2 {
        font-size: 1rem;
    }
    .score {
        font-size: 1.375rem;
    }
    .score-box p {
        font-size: 0.9rem;
    }
}

@media (max-width: 992px) {
    .card {
        width: 200px;
        height: 360px;
    }
    .character-image {
        height: 170px;
    }
    .level {
        font-size: 0.8rem;
    }
    .card-content {
        font-size: 0.8rem;
    }
    .card-content h2 {
        font-size: 0.9rem;
    }
    .score {
        font-size: 1.25rem;
    }
    .score-box p {
        font-size: 0.8rem;
    }
}
